/Part 3/.vs
/Part 3/AccountOwnerServer/obj
/Part 3/AccountOwnerServer/AccountOwnerServer.csproj.user
/Part 3/AccountOwnerServer/bin
/Part 3/Contracts/obj
/Part 3/Contracts/bin
/Part 3/LoggerService/obj
/Part 3/LoggerService/bin


*.suo
*.user
_ReSharper.*
bin
obj
packages
/Part 4/Contracts/obj
/Part 4/Contracts/bin
/Part 4/Entities/obj
/Part 4/Entities/bin
/Part 4/LoggerService/obj
/Part 4/LoggerService/bin
/Part 4/Repository/obj
/Part 4/Repository/bin
/Part7/.vscode
Projects
/Part 3/AccountOwnerServer/Projects
/Part 5/AccountOwnerServer/Projects
/Part 4/AccountOwnerServer/Projects
/Part 6/AccountOwnerServer/Projects
/Part 5 - Update - OwnersByName/.vs
/Part 4/.vs
/Part 5/.vs
/Part 2/AccountOwnerServer/.vs
/Part 6/.vs
