/Part 3/.vs
/Part 3/AccountOwnerServer/obj
/Part 3/AccountOwnerServer/AccountOwnerServer.csproj.user
/Part 3/AccountOwnerServer/bin
/Part 3/Contracts/obj
/Part 3/Contracts/bin
/Part 3/LoggerService/obj
/Part 3/LoggerService/bin
