<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
 
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="emmitEvent()">&times;</button>
        <h4 class="modal-title">{{modalHeaderText}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modalBodyText}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="emmitEvent()">{{okButtonText}}</button>
      </div>
    </div>
 
  </div>
</div>