<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Account-Owner Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/owner/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Owner Actions</a>
      </li>
      <li>
        <a href="#">Account Actions</a>
      </li>
    </ul>
  </div>
</nav>