<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>Owner name:</strong>
      </div>
      <div class="col-md-3">
        {{owner?.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Date of birth:</strong>
      </div>
      <div class="col-md-3">
        {{owner?.dateOfBirth | date: 'dd/MM/yyyy'}}
      </div>
    </div>
    <div class="row" *ngIf='owner?.accounts.length <= 2; else advancedUser'>
      <div class="col-md-3">
        <strong>Type of user:</strong>
      </div>
      <div class="col-md-3">
        <span class="text-success">Beginner user.</span>
      </div>
    </div>
    <ng-template #advancedUser>
      <div class="row">
        <div class="col-md-3">
          <strong>Type of user:</strong>
        </div>
        <div class="col-md-3">
          <span class="text-info">Advanced user.</span>
        </div>
      </div>
    </ng-template>
  </div>
   
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Account type</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of owner?.accounts">
              <td>{{account?.accountType}}</td>
              <td>{{account?.dateCreated | date: 'dd/MM/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
